<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373259950249-ila36070duv03thl2dhem6nll081bba7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373259950249-ila36070duv03thl2dhem6nll081bba7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>373259950249-gvjm5vt1ortofr3ba35udme5joktb95d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXs5WY9hlr1VSWJiiOX3OmIxkz4SypLGk</string>
	<key>GCM_SENDER_ID</key>
	<string>373259950249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialnetworking</string>
	<key>PROJECT_ID</key>
	<string>socialnetworking-10877</string>
	<key>STORAGE_BUCKET</key>
	<string>socialnetworking-10877.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373259950249:ios:639cf1fddc11c6876e71b8</string>
	<key>DATABASE_URL</key>
	<string>https://socialnetworking-10877.firebaseio.com</string>
</dict>
</plist>